<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal</title>
    <!-- <link rel="stylesheet" href="landingpage.component.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- <h1>INFORMATION PORTAL</h1> -->
    <p id="listview"></p>
    <p id="form"></p>
    <i class="fa fa-user-o lv fa-3x" aria-hidden="true"></i>
    <i class="fa fa-file-text-o fm fa-3x" aria-hidden="true"></i>
    <button class="button button1" [routerLink]="['/listview']" >List View</button>
    <button  class="button button2" [routerLink]="['/form']" >Form</button>
</body>

</html>