
.box {
    width: 250px;
    height: 400px;
    padding: 50px;
    background-color: white;
    border-radius: 25px;
    position: relative;
    top :120px;
    left:490px;
  }
  h2 {
      color: rgb(116, 113, 113);
      text-align: center;
      position: relative;
      top: -20px;
      font-family: Arial, Helvetica, sans-serif; 
  }
  .button {
    border:solid rgb(138, 135, 135) 1px;
    color:rgb(116, 113, 113);
    background-color: white;
    padding: 5px 25px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 8px 2px;   
  }
  .submit-data {
      background-color: rgb(116, 111, 111);
      color: white;
      border-radius: 25px;
      position: relative;
      left: 8px;
      margin:8px 2px ;
      width: 230px;
      height: 40px;
      font-family: Arial, Helvetica, sans-serif; 

  }
  #text-line {
    background-color: transparent;
    color:black;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid rgb(138, 135, 135) 1px;
    padding: 1px 40px;
    margin: 2px 3px;
    
  }
  .text-area{
    height: 60px;
  
  }
.data {
  font-family: Arial, Helvetica, sans-serif; 
  color: rgb(116, 113, 113);
}
#input-data{
  margin-top: 8px;

}