<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portal</title>
    <link rel="stylesheet" href="form.component.css">

</head>

<body style="background-color: rgb(219, 241, 248);">
    <div class="box">
        <h2>Form</h2>
        <form action="#">
            <div class="form-row">
                <div class="input-data">
                    <label class="data" >Name</label>
                    <div><input type="text" class="text-line" required></div>
                </div>
                <div class="button button1"><input type="radio" id="male" name="gender" value="male">
                    <label for="male" class="data">Male</label></div>
                <div class="button button2"><input type="radio" id="female" name="gender" value="male">
                    <label for="female" class="data">Female</label></div>
                <div class="input-data">
                    <label class="data">Email</label>
                    <div><input type="email" class="text-line"></div>
                </div>
                <div class="input-data">
                    <label class="data">Contact Number</label>
                    <div><input type="number" class="text-line"></div>
                </div>
                <div class="input-data">
                    <label class="data">Message</label>
                    <div><input type="text" class="text-line text-area"></div>
                </div>
                <input type="submit" value="Submit" class="submit-data">
            </div>
        </form>
    </div>

</body>

</html>