<div class="box1">
    <h3>List View</h3>
    <table>
        <tr>
            <th (click)="sort('i+1')">No&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('name')">Name&nbsp;<i class="fa fa-sort"></i></th>
            <th>Gender</th>
            <th>Email</th>
            <th>Number</th>
            <th>Message</th>
        </tr>
       
        <tr *ngFor="let user of users | orderBy:key:reverse ;let i = index">
            <td>{{i+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.email}}</td>
            <td>{{user.contactnumber}}</td>
            <td>{{user.message}}</td>
        </tr>
    </table>
</div>
<div class="box2">
    <h3>Pie Chart</h3>
    <div style ="display: block;">
    <canvas baseChart
         [data]="pieChartData"
         [labels]="pieChartLabels"
         [chartType]="pieChartType"></canvas>
    </div>
</div>
    
